

* {
  box-sizing: border-box;
}

.calculator-panel {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 40px auto;
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
}

.output {
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  text-align: right;
  border: 1px solid black;
  border-radius: 2px;
  min-height: 30px;
}

.row {
  display: flex;
  justify-content: center;
}

.button {
  flex: 1;
  padding: 10px;
  margin: 3px;
  font-size: 15px;
  text-align: center;
  border: 1px solid darkgrey;
  border-radius: 3px;
  background-color: lightgrey;
  color: black;
}

.button:hover {
  background-color: darkgrey;
}

